body {
  background-image: url("images/pozadina.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.content-container {
  background: #8594e4;
  margin-top: 7%;
  text-align: left;
  padding-left: 10px;
  margin-left: 10%;
  margin-right: 10%;
  border: 1px solid #430f58;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.naslov {
  color: #6643b5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #ed7171;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 10px;
}

#itemInput {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#submitButton {
  background-color: #a9e7ab;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#submitButton:hover {
  background-color: #45a049;
}

li button:hover {
  background-color: #ff5858;
}

.input {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.highlight {
  background-color: #77ea7f; /* Yellow background color for highlighted items */
}

#searchInput {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Add this CSS for the dropdown menu */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content div {
  padding: 12px 16px;
  cursor: pointer;
}

.dropdown-content div:hover {
  background-color: #ddd;
}

.green-highlight {
  color: green !important;
}

li {
  /* ... (other styles) */
  text-align: left; /* Add this line to left-align the text */
}
